@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    min-height: 100vh;
    background-color: #eee;
    background-size: 10px 10px;
    background-image:
            radial-gradient(circle at 50% 50%, #ddd, #ddd 1px, transparent 1px),
            radial-gradient(circle at 0 0, #ddd, #ddd 1px, transparent 1px),
            radial-gradient(circle at 0 100%, #ddd, #ddd 1px, transparent 1px),
            radial-gradient(circle at 100% 0, #ddd, #ddd 1px, transparent 1px),
            radial-gradient(circle at 100% 100%, #ddd, #ddd 1px, transparent 1px);
    color: #333;
}

:root {
    --clr-border: #333;
    --AnimationLength: 0px;
}

.content {
    width: 100%; max-width: 960px;
    padding: 2em 2em 10em;
}

h2 {
    margin: 1em auto;
    text-decoration: underline;
    text-decoration-color: #aaa;

    & span {
        color: #777;
    }
}

p {
    margin: 2em auto;
    font-weight: bold;
}

hr {
    height: 3px;
    border: none;
    margin: 4em auto;
    background-color: #aaa;
}
