.template {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;

  &-left {

    transition: all 0.4s ease-in;
    color: black;
    background-color: white;


    &.template-left--out--out {
      width: 40% !important;
    }

    &.template-left--out {
      width: 25%;
      overflow: scroll;
    }
  }

  &-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 226, 226);
  }
}
